#bigdiv{ 
  float:left;                
  background:black; 
  width:50%; 
}
#smalldiv{ 
  float:left;                
  background:black; 
  width:30%; 
}
#wide{ 
  float:left;                
  background:black; 
  width:100%; 
} 
h1{ 
  color:white; 
  text-align:center; 
}
h5{
  color:white; 
  text-align:center;
}
p{
  color:white;
  margin: 20px;
}            
