/*
 Class "container". This will be mainly used for div objects
 which will host the entire content of the page except header and footer.
*/
.container{
    width: 100%;
    border: none;
    height: 100%
}

/*
 Class "bigdiv". This will be mainly used for div objects
 to host bigger image and a paragraph.  
*/
.bigdiv{ 
    float: left;                
    background: black; 
    width: 50%;
    border: none;  
}

/*
 Class "smalldiv". This will be mainly used for div objects
 to host small image and a small paragraph.  
*/
.smalldiv{ 
    float: left;                
    background: black; 
    width: 20%;
    border: none;
}

/*
 Class "wide". This will be mainly used for div objects
 to hold header and footer only.
*/
.wide{ 
    background: black; 
    width: 100%;
    border: none;
    /*height:100px;*/
}
    
/*
 Generic property of img tag.
*/
.leftcorner {
    float:left;
    /*height:100%;*/
}

/*
 Generic property of img tag.
*/
.rightcorner {
    float:right;
    /*height:100%;*/
}

/*
 Generic property of img tag.
*/
.center {
    width:100%;
    height:auto;
}

/*
 Generic H1 header appearence.
*/
h1 { 
    color: white; 
    text-align: center;
    font-family: verdana,arial;
    font-size:auto;
}

/*
 Generic paragraph appearence.
 IMPORTANT: Font size should readust
*/
p {
    color:white;
    margin: 20px;
    text-align: center;
    font-family: verdana,arial;
    font-size: 1.5vw;
}

p.index {
    color:white;
    margin: 20px;
    text-align: center;
    font-family: verdana,arial;
    font-size: 2vw;
}
/*
 Generic ordered list appearence.
*/
ol {
   color:white;
   font-family: verdana,arial;
}

/*
 Generic div appearence.
*/
div {
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: black;
}

body {
    margin: 50px;
    background-color: black;
}

a:visited {
    color: gray;
}

a:link {
    color: white;
}
